.dot {
    height: 20px;
    width: 20px;
    background-color: #005f9e;
    border-radius: 50%;
    display: inline-block;
}

#vertical-para {
    transform: rotate(270deg);
    text-align: center;
    position: relative;
    top: 50%;
}

#para {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 20px;
}

.table-body:nth-child(2n) {
    background-color: #edf6f9;
}

#filterName, #filterAge, #filterGender, #filterAddress, #filterPhone {
    max-height: 100px;
    overflow-y: auto;
}

#showFilterName, #showFilterAge, #showFilterAddress, #showFilterGender, #showFilterPhone {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#inputNameFilter {
}

.filterOk {
    background-color: green;
    color: white;
    /*padding: 16px;*/
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

/*.dropbtn {*/
/*background-color: #4CAF50;*/
/*color: white;*/
/*padding: 16px;*/
/*font-size: 16px;*/
/*border: none;*/
/*cursor: pointer;*/
/*}*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
    cursor: pointer;
    padding: 12px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #99d9ea;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*.dropdown:hover .dropbtn {*/
/*background-color: #3e8e41;*/
/*}*/
#dropdown-menu {
    cursor: pointer;
}

.cursorPointer {
    cursor: pointer;
}

#rightCont {
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    --padding: 20px; padding: var(--padding);
    box-shadow: inset 0 0 0 var(--padding) #e5e5e5;
}

#leftCont {
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-top: 2px solid gray;
    -moz-box-shadow: inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    box-shadow: inset 0 0 3px #000000;
}

#smallLeftCont {
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-top: 2px solid gray;
    -moz-box-shadow: inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    box-shadow: inset 0 0 3px #000000;
}

#tableDiv {
    --padding1: 10px; padding: var(--padding1);
    box-shadow: inset 0 0 0 var(--padding1) white;
}

.table-header {
    border-bottom: 2px solid #97adbb;
}

.nav-dot {
}

.name-nav {
    position: absolute;
    left: 45px;
    top: 8px;
}

.three-dot-menu {
}

.triangleLeft{
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border-bottom: solid 15px rgb(200,30,50);
    border-right: solid 15px rgb(200,30,50);
    border-left: solid 15px transparent;
    border-top: solid 15px transparent;
}
