<!DOCTYPE html>
<html ng-app="crud">
<head>
    <meta charset="UTF-8">
    <title>Students manager</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="crud-student.css">
    <script src="crud-student.js"></script>
</head>
<body>

<div ng-controller="CRUDCtrl">

    <div ng-include="'home.html'"></div>

    <div class="container">
        <form>
            <div class="form-group">
                <label for="id">ID:</label>
                <input class="form-control" type="text" id="id" ng-model="student.id"/>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" type="text" id="name" ng-model="student.name"/>
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input class="form-control" type="text" id="age" ng-model="student.age"/>
            </div>
            <div class="form-group">
                <label for="gender">Gender:</label>
                <div id="gender">
                    <div class="form-check form-check-inline">
                        <input ng-model="student.gender" class="form-check-input" type="radio" id="checkboxMale" value="female">
                        <label style="font-weight: normal"  class="form-check-label" for="checkboxMale">Female</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input ng-model="student.gender" class="form-check-input" type="radio" id="checkboxFemale" value="male">
                        <label style="font-weight: normal" class="form-check-label" for="checkboxFemale">Male</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <input class="form-control" type="text" id="address" ng-model="student.address"/>
            </div>
            <div class="form-group">
                <label for="phone">Phone number:</label>
                <input class="form-control" type="text" id="phone" ng-model="student.phoneNum"/>
            </div>
        </form>
        <br/> <br/>
        <button class="btn btn-outline-success" ng-click="getStudent(student.id)">Get Student</button>
        <button class="btn btn-outline-primary"
                ng-click="updateStudent(student.id,student.name,student.age,student.gender,student.address,student.phoneNum)">
            Update
            Student
        </button>
        <button class="btn btn-outline-secondary"
                ng-click="addStudent(student.name,student.age,student.gender,student.address,student.phoneNum)">Add
            Student
        </button>
        <button class="btn btn-outline-danger" ng-click="deleteStudent(student.id)">Delete Student</button>

        <br/> <br/>
        <p style="color: green">{{message}}</p>
        <p style="color: red">{{errorMessage}}</p>

        <br/>
        <br/>
        <button class="btn btn-outline-success" ng-click="getAllStudents()">Get all Students</button>
        <br/>
        <br/> <br/>
        <div>
            {{students}}
        </div>

    </div>

</div>

</body>
</html>
